body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("/static/images/bg1.jpeg") no-repeat center center fixed;
    background-size: cover;
}

.title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    text-shadow: 2px 2px 5px black;
}

.container {
    width: 350px;
    margin: 60px auto;
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.error {
    color: red;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
}

th {
    background: #007bff;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f1f1f1;
}

@media print {

    body {
        background: white !important;
    }

    .title {
        color: black;
        text-shadow: none;
    }

    button {
        display: none;
    }

    .container {
        box-shadow: none;
        width: 100% !important;
    }
}

