<!DOCTYPE html>
<html>
<head>
    <title>All Invoices</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="title">Online Billing System</div>

<div class="container" style="width:80%;">

    <h2>All Invoices</h2>

    <table>
        <tr>
            <th>Invoice ID</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Total Amount</th>
            <th>Action</th>
        </tr>

        {% for inv in invoices %}
        <tr>
            <td>{{ inv.invoice_id }}</td>
            <td>{{ inv.customer_name }}</td>
            <td>{{ inv.created_at }}</td>
            <td>₹{{ inv.total_amount }}</td>
            <td>
                <a href="/invoice/{{ inv.invoice_id }}">
                    <button style="width:100px;">View</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/dashboard">
        <button>Back to Dashboard</button>
    </a>

</div>

</body>
</html>
